<h1 class="paragrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eaque, dolorum saepe tempore recusandae veritatis nemo pariatur rerum placeat aut optio, distinctio modi adipisci possimus delectus consectetur molestias sit natus.</h1>
<button id="botao">Clique aqui!</button>
